/**************************************************/
/******************* RESETEADOR *******************/
/**************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Old browsers / Para viejos exploradores */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

/* Fonts / Fuentes */

@font-face {
  font-family: "Exo Regular";
  src: url(../ttf/exo-regular.ttf);
}

@font-face {
  font-family: "Exo Italic";
  src: url(../ttf/exo-italic.ttf);
}

@font-face {
  font-family: "Exo Bold";
  src: url(../ttf/exo-bold.ttf);
}

@font-face {
  font-family: "Exo BoldItalic";
  src: url(../ttf/exo-bolditalic.ttf);
}

/* Body / Cuerpo */

body * {
  font-family: "Exo Regular", Helvetica, Lucida, sans-serif;
}

header, footer, section > div {
  padding: 2em 10%;
}

/* Font effects / Efectos en las fuentes */

i, em {
  font-family: "Exo Italic", Helvetica, Lucida, sans-serif;
  font-style: italic;
}

b, strong {
  font-family: "Exo Bold", Helvetica, Lucida, sans-serif;
  font-weight: bold;
}

i > b, b > i,
em > strong, strong > em,
i > strong, strong > i,
em > b, b > em {
  font-family: "Exo BoldItalic", Helvetica, Lucida, sans-serif;
}

.color1 {
  color: #43bb9a !important;
}

/* Links / Enlaces */

a, a:link, a:visited {
  color: #43bb9a;
}

/* Header / Encabezado */

header {
  background-color: #020202;
  color: white;
  min-height: 100vh;
}

header * {
  text-align: center;
}

header img {
  max-width: 100%;
  display: block;
  margin: 5em auto;
}

/* Afecta a todos */ 
h1 {
  color: #43bb9a;
  font-size: 2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
  line-height: 1.15;
}

header p:first-of-type {
  margin-bottom: 2em;
}

/* Nav */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343434;
  color: white;
  padding: .5em;
}

nav * {
  display: inline;
  padding-right: .5em;
  font-weight: bold;
  text-decoration: none;
  font-size: .9em;
}

/* Sección / Section */

section h1 {
  margin-top: 0;
}

h2 {
  color: #43bb9a;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
  line-height: 1.15;
}

/* También afecta a los p del header y footer */
p {
  font-size: 1.15em;
  line-height: 1.25;
  margin: 1em 0;
}

section div.categoria:nth-child(even) {
  background-color: #020202;
  color: white;
}

section img.portada {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: auto;
}

.ficha + .ficha {
  padding-top: 2em;
  border-top: 1px dashed #43bb9a;
}

.small {
  font-size: .9em;
}

.logos img {
  width: 120px;
  margin-right: 1em;
}

hr {
  border: 1px dashed #43bb9a;
}

video {
  display: block;
  width: 100%;
  margin: 0 auto 2em auto;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .ficha {
    clear: both;
    overflow: auto;
  }

  .ficha > div {
    float: left;
    width: calc(50% - 2em);
  }

  .ficha > div:nth-child(2) {
    padding-left: 2em;
  }
}

/* Footer / Pie */

footer {
  background-color: #020202;
  color: white;
}

footer > * {
  text-align: center;
  font-size: .9em;
}
